{{ define "footer.tmpl" }}


    </div>  <!--  fin de <div class="container"> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 </body>
</html>

{{end}}