<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Go Go</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <h1>Monedas en tendencia</h1>
        <ul class="coin-list">
            {{range .}}
            <li class="coin-item">
                <div class="coin-rank">{{.Item.Rank}}</div>
                <img src="{{.Item.Logo}}" alt="{{.Item.Name}} logo" class="coin-image">
                <div class="coin-info">
                    <div class="coin-name">{{.Item.Name}} <span class="coin-symbol">({{.Item.Symbol}})</span></div>
                    <div>Precio en BTC: {{.Item.PriceBTC}}</div>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
</body>
</html>