<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Go Go</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <input type="text" id="search-bar" placeholder="Buscar...">
    </div>

    <div class="container">
        <h1>Resultados de la busqueda</h1>
        <ul class="coin-list">
            {{range .}}
            <li class="coin-item">
                <div class="coin-rank">{{.Rank}}</div>
                <img src="{{.Logo}}" alt="{{.Name}} logo" class="coin-image">
                <div class="coin-info">
                    <div class="coin-name">{{.Name}} <span class="coin-symbol">({{.Symbol}})</span></div>
                    <div>Precio en BTC: {{.PriceBTC}}</div>
                </div>
            </li>
            {{end}}
        </ul>
    </div>


    <script>
        document.getElementById("search-bar").addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
            const query = event.target.value.trim();
            if (query) {
            window.location.href = `/coins/${encodeURIComponent(query)}`;
            }
        }
        });
    </script>
</body>
</html>