{{ define "user.tmpl" }}
{{ template "header.tmpl" .}}
<a name="" id="" class="btn btn-primary" href="/createuser" role="button">agregar usuario</a>

      <table class="table">
        <thead>
            <tr>
                <th>username</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
         {{ range . }}   
            <tr>
                <td>{{ .Username }} </td>
                <td>{{ .Email }}</td>
            </tr>
          {{ end }}   

        </tbody>
      </table>

      
{{ template "footer.tmpl" .}}
{{ end }}